body {
    background-color: lightgray;
}

.relative {
    position: relative;
}

.error {
    color: red;
}

.sidebar-collapse {
    .content-wrapper {
        margin-left: 0 !important;
    }
    .main-header {
        margin-left: 0 !important;
    }
}

.hidden {
    display: none;
}

.scheduler-amount-input {
    width: 4rem;
}

.scheduler-type-select {
    width: 5rem;
}

.scheduler-weekday-select {
    width: 7rem;
}

.tiny {
    font-size: 50%;
}
